appnope
argon2-cffi
attrs
backcall
beautifulsoup4
bleach
certifi
cffi
chardet
click
cycler
decorator
defusedxml
diffimg
entrypoints
easyocr
filelock
future
idna
ipykernel
ipython
ipython-genutils
ipywidgets
imutils
jedi
Jinja2
joblib
json5
jsonschema
jupyter-client
jupyter-core
jupyterlab
jupyterlab-server
kiwisolver
lmdb
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
notebook
numpy
opencv-python
packaging
pandocfilters
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
ptyprocess
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
python-Levenshtein
pyzmq
regex
requests
sacremoses
Send2Trash
sentencepiece
six
soupsieve
terminado
testpath
textdistance
tokenizers
torch
torchvision
tornado
tqdm
traitlets
transformers
trdg
urllib3
wcwidth
webencodings
widgetsnbextension
